---
import { getCollection, getEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
	const posts = await getCollection('cyberChase');
	return posts.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const author = await getEntry(entry.data.author);
---

<Layout title={`${entry.data.title} - aktualności koła WCY WAT`}>
  <div class="w-4/5 mx-auto mt-32">
    <div class="prose mx-auto">
      <div class="text-center border-b mb-10">
        <span class="mt-1 mb-2 block text-gray-600">
          {entry.data.date.toLocaleDateString("pl-PL")}
        </span>
        <h1 class="mb-5">{entry.data.title}</h1>
        <span class="mt-1 mb-2 block text-gray-600 text-xl">
          {author.data.name}
        </span>
      </div>
      <Content />
    </div>
  </div>
</Layout>
