---
import { Sprite } from "astro-icon";
export interface Props {
  name: string;
  role: string;
  bio: string;
}

const { boardMember } = Astro.props;

const {
  name,
  role,
  bio,
  links: { linkedIn: linkedInLink },
} = boardMember;
---

<div class="">
  <div class="mt-5">
    <h4 class="text-center font-bold text-xl">{name}</h4>
    <span class="text-center block mt-1">{role}</span>
    <div class="flex items-center justify-center mt-2 mb-1">
      <a href={linkedInLink} target="_blank" rel="noreferrer noopener">
        <Sprite name="ps:linkedin" class="w-3 h-3" />
      </a>
    </div>
    <p class="mt-5 text-sm prose text-justify">
      {bio}
    </p>
  </div>
</div>
