---
const { supervisor = [] } = Astro.props;
---

<section class="mt-20">
  <div class="px-10 md:px-0 md:w-1/2 mx-auto">
    <h2 class="text-3xl text-center font-bold">Opiekun koła</h2>
    <div class="flex justify-center">
      <div class="mt-10">
        <h4 class="font-bold text-xl text-center prose">
          {supervisor.title}
          {supervisor.name}
        </h4>
        <p class="mt-5 text-sm prose text-justify">
          {supervisor.bio}
        </p>
      </div>
    </div>
  </div>
</section>
