---
// Work in progress: This site is prefixed with underscore so it is excluded from build


import Layout from '../layouts/Layout.astro';
import HeroSection from "../components/LandingPage/sections/HeroSection.astro";
import BoardSection from "../components/TeamPage/sections/BoardSection.astro";
import GoalsSection from "../components/LandingPage/sections/GoalsSection.astro";
import CTASection from "../components/LandingPage/sections/CTASection.astro";

import teamData from '../data/team.yml'
import MembersSection from "../components/TeamPage/sections/MembersSection.astro";
import SupervisorSection from "../components/TeamPage/sections/SupervisorSection.astro";
import {Sprite} from "astro-icon";
import Severity, {SEVERITY_LEVEL} from "../components/CyberChasePage/SeverityInfo.astro";

const randomFromArray = (arr: any[]) => arr[Math.floor(Math.random() * arr.length)];
---

<Layout title="Cyber chase">
	<div class="mt-32 w-1/2 mx-auto">
		<h1 class="text-4xl text-center">Cyber chase</h1>
		<div class="mt-10 grid  gap-10">
			{new Array(100).fill(0).map((post, i) => (
				<div class="">
					<h3 class="text-lg font-semibold">saddsad</h3>
					<div class="mt-1">
						<Severity severityLevel={randomFromArray(Object.keys(SEVERITY_LEVEL))} />
					</div>
					<span class="mt-1 text-sm text-gray-500 flex items-center">
						<span class="mr-1">data: <span class="font-bold">20.05.2023</span></span>
					</span>
					<p class="my-2">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid atque beatae culpa deserunt dignissimos distinctio doloremque dolorum eaque eveniet modi molestiae natus nihil, praesentium, provident quasi reiciendis veritatis vero voluptatibus!
					</p>
					<span class="text-gray-500 text-sm">tagi: #os, #vendor</span>
				</div>))}
		</div>
	</div>
</Layout>