<section class="mt-[25vh] mb-40" id="cta-section">
    <div class="w-4/5 mx-auto font-semibold grid xl:grid-cols-2">
        <div class="xl:border-r border-gray-400 xl:pr-10">
            <h2 class="text-2xl">Jesteś studentem WAT?</h2>
            <p class="mt-10">
                W celu dołączenia do Koła, skontaktuj się z XXX lub YYY.
            </p>
        </div>
        <div class="xl:pl-10 pt-10 xl:pt-0">
            <h2 class="text-2xl">Jesteś przedstawicielem biznesu czy NGO?</h2>
            <p class="mt-10">
                Zapraszamy do współpracy.
                <br/>
                <br/>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad corporis doloribus eaque enim exercitationem facere iure rerum sit ullam voluptas. Illum nesciunt perspiciatis rem sed. Atque pariatur qui repudiandae sequi?
            </p>
        </div>
    </div>
</section>