---
import {Image} from "astro:assets";
import impervaLogo from '../../../assets/img/partners/imperva-logo.svg'
---

<section class="mt-20 mb-10" id="partners-section">
    <h2 class="text-sm text-center trailing-loose uppercase tracking-widest">Firmy, z którymi współpracowaliśmy</h2>
    <div class="mt-10 flex flex-wrap justify-center">
        <Image src={impervaLogo} alt="Logo firmy Imperva" />
    </div>
</section>